

table {
  table-layout: auto;
  display: block;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}
.table-view {
  margin-top: 30px;
  font-size: 14px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
}
.tdlh {
  white-space: normal;
}